<div class="row">
  <div class="col-xs-12 ">
    <div class="row">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12">
            <h1>Welcome to</h1>
            <span class="glyphicon glyphicon-book " aria-hidden="true", style="font-size:35px;"></span>
            <h1 class="main-title">Bookers!</h1>
          </div>
        </div>
        <div class="row">
          <p class="col-xs-12">
          In <span class="glyphicon glyphicon-book " aria-hidden="true", style="font-size:15px;"></span>Bookers,<br>
          you can share and exchange your opinions , inpressions , and emotions<br>
          about various books!<br>
          </p>
        </div>
        <div class="row">
          <div class="col-xs-12 btn-group-vertical">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-block" %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
  </div>
</div>
